* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(153, 153, 153, 0.4);
    border-radius: 4px;
    border: 1px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(153, 153, 153, 0.7);
}

#create_contact_form input,
#update_dialog input {
    background-color: #18181b;
    border: 1px solid #525252;
    border-radius: 4px;
    padding: 0.5rem 1rem;
}

body {
    color: #ffffff;
    background-color: #121212;
}

h3 {
    margin: 0;
}

.w-64 {
    width: 16rem;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.gap-2 {
    gap: 0.5rem;
}

.gap-4 {
    gap: 1rem;
}

.p-4 {
    padding: 1rem;
}

.p-2 {
    padding: 0.5rem;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    inline-size: fit-content;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

table thead tr {
    background-color: #18181b;
}

table tr {
    height: 48px;
}

table tbody tr:nth-child(even) {
    background-color: #242427;
    border-bottom: 1px solid #525252;
    border-top: 1px solid #525252;
}

table tbody tr:nth-child(odd) {
    background-color: #1c1917;
}

table th,
table td {
    transition: .2s ease;
    padding: 8px;
}

table p {
    text-wrap: nowrap;
    filter: drop-shadow(0px 0px 1px black);
    text-shadow: 0px 1.25px 0px black;
}

table img {
    height: 32px;
    min-width: 32px;
    box-shadow: 0 0 10px #0f0f0f;
    justify-self: center;
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}