name: Tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest


    steps:
      - uses: actions/checkout@v1
      - name: Run Jest
        uses: stefanob/jest-action@1.0.3
        with:
          jestArgs: apifunct.test.js
